@use '../variables';

.Wrapper {
  padding: variables.rem(20px);

  img {
    width: variables.rem(300px);
    height: variables.rem(400px);
    margin-top: variables.rem(10px);
    border-radius: variables.rem(6px);
  }

  h1 {
    margin: variables.rem(20px) 0;
  }

  button {
    padding: variables.rem(10px) variables.rem(20px);
    border: variables.rem(1px) solid black;
    border-radius: variables.rem(8px);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:disabled {
      cursor: auto;
      color: gray;
      border-color: gray;
    }

    &:not(:disabled):hover {
      background-color: black;
      color: white;
    }
  }
}

.Colors {
  display: flex;
  gap: variables.rem(10px);
  margin-top: variables.rem(10px);
}

.Side {
  display: flex;
  gap: variables.rem(10px);
  margin-top: variables.rem(10px);

  button {
    text-transform: uppercase;
  }
}

.Sizes {
  display: flex;
  gap: variables.rem(10px);
  margin-top: variables.rem(10px);
}

.SelectedSize {
  display: block;
  margin-top: variables.rem(10px);
}
